<div class="ui grid" data-bind="if: isVisible">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui raised segment">
      <form class="ui form">
        <div class="fields">
          <div class="six wide required field" data-bind="css: { error: isHostInvalid }">
            <label>Host Name</label>
            <input name="host" placeholder="Host Name or IP Address" type="text" data-bind="value: host">
          </div>

          <div class="four wide field" data-bind="css: { error: isPortInvalid }">
            <label>Port</label>
            <input name="port" placeholder="Port Number" type="text" data-bind="value: port">
          </div>

          <div class="six wide required field" data-bind="css: { error: isDatabaseInvalid }">
            <label>Database name</label>
            <input name="database" placeholder="Database Name" type="text" data-bind="value: database">
          </div>
        </div>

        <div class="fields">
          <div class="eight wide required field" data-bind="css: { error: isRoleInvalid }">
            <label>Role Name</label>
            <input name="host" placeholder="Role Name" type="text" data-bind="value: role">
          </div>

          <div class="eight wide field">
            <label>Password</label>
            <input name="port" placeholder="Pa$$w0rd" type="password" data-bind="value: password">
          </div>
        </div>

        <button class="ui primary button" type="button" data-bind="click: save">Save settings</button>
        <button class="ui secondary button" type="button" data-bind="click: hide">Close</button>
      </form>
    </div>
  </div>
  <div class="four wide column"></div>
</div>
