<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div class="ui raised blue segment">
      <form class="ui form" data-bind="css: { loading: isLoading }">
        <h3 class="ui header">Show Objects</h3>

        <div class="required field" data-bind="css: { error: isObjectsInvalid }">
          <label>Object IDs (separated with whitespace, commas or semicolons)</label>
          <textarea tabindex="0" rows="5" data-bind="value: objects"></textarea>
        </div>

        <div class="field">
          <label for="selectedFormat">Format:</label>

          <select
            id="selectedFormat"
            tabindex="1"
            class="ui dropdown"
            data-bind="options: availableFormats, value: selectedFormat"
          ></select>
        </div>

        <div class="ui fluid buttons">
          <button class="ui primary button" type="submit" data-bind="click: show">Show</button>
          <button class="ui button" type="button" data-bind="click: clear">Clear</button>
          <button class="ui button" type="button" data-bind="click: hide">Close</button>
        </div>
      </form>
    </div>
  </div>
  <div class="three wide column"></div>
</div>
