<div class="ui grid" data-bind="visible: isVisible">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui raised segment">
      <form class="ui form" data-bind="css: { loading: isLoading }">
        <h3 class="ui header">Show Places by ID</h3>

        <div class="required field" data-bind="css: { error: isPlacesInvalid }">
          <label>Place IDs (separated with whitespace, commas or semicolons)</label>
          <textarea tabindex="0" rows="2" data-bind="value: places"></textarea>
        </div>

        <div class="inline field">
          <input id="placesAreUnique" tabindex="1" type="checkbox" data-bind="checked: areUnique">
          <label for="placesAreUnique">Trait as unique IDs</label>
        </div>

        <button class="ui primary button" type="submit" data-bind="click: show">Show places</button>
        <button class="ui button" type="button" data-bind="click: clear">Clear</button>
        <button class="ui button" type="button" data-bind="click: hide">Close</button>
      </form>
    </div>
  </div>
  <div class="four wide column"></div>
</div>
