<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui raised segment">
      <form class="ui form" data-bind="css: { loading: isLoading }">
        <h3 class="ui header">Show Roads by ID</h3>

        <div class="required field" data-bind="css: { error: isRoadsInvalid }">
          <label>Road IDs (separated with whitespace, commas or semicolons)</label>
          <textarea tabindex="0" rows="2" data-bind="value: roads"></textarea>
        </div>

        <div class="inline field">
          <input id="roadsAreUnique" tabindex="1" type="checkbox" data-bind="checked: areUnique">
          <label for="roadsAreUnique">Trait as unique IDs</label>
        </div>

        <button class="ui primary button" type="submit" data-bind="click: show">Show roads</button>
        <button class="ui button" type="button" data-bind="click: clear">Clear</button>
        <button class="ui button" type="button" data-bind="click: hide">Close</button>
      </form>

      <div class="ui error message" data-bind="visible: isMessageVisible">
        <div class="header" data-bind="text: messageHeader"></div>
        <p data-bind="text: messageText"></p>
      </div>
    </div>
  </div>
  <div class="four wide column"></div>
</div>
